_minted*
*.aux
*.bbl
*.log
*.blg
*.out
*.pyg
*.fls
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
presentation.template.chl
presentation.template.lof
presentation.template.lot
presentation.template.pdf
